<%- include('partials/_head') %>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <span class="logo">LOGO</span>
      <span class="nav_welcome">Welcome Admin</span>
    </nav>
    <!-- New tweet post and tweets container-->
    <main id="container">
      <section id="new-tweet">

        <table>
          <thead>
            <tr>
              <th colspan="5" class="table_title">ORDER DETAILS for <%= orderId %>
              </th>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>
    <form class="form-inline" action="/admin/<%= orderId %>" method="POST">
      <div class="form-group mb-2">
        <label for="maxTime">Estimated Time (minutes):</label>

        <input class="form-control" type="text" name="maxTime" value="<%=maxTime%>" placeholder="0" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    </main>
    <footer>

    </footer>

  </body>

  </html>
