<%- include('partials/_head') %>

<body>
 <!-- Top nav bar (fixed) -->
 <nav>
  <span class="logo">LOGO</span>
  <span class="nav_welcome">Welcome   Admin</span>
</nav>
  <!-- New tweet post and tweets container-->
  <main id="container">
    <section id="new-tweet">

      <table>
        <thead>
          <tr><th colspan="5" class="table_title">ORDER DETAILS</th></tr>
        <tr>
          <th>ID</th>
          <th>Dish name</th>
          <th>Qty</th>
          <th>ETA</th>
          <th>Sub Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="/admin/1">1</a></td>
          <td>Matman</td>
          <td>Chief Sandwich Eater</td>
          <td>15 min</td>
          <td>$100</td>
        </tr>
        <tr>
          <td><a href="/admin/1">1</a></td>
          <td>Matman</td>
          <td>Chief Sandwich Eater</td>
          <td>15 min</td>
          <td>$100</td>
        </tr>
        <tr>
          <td><a href="/admin/1">1</a></td>
          <td>Matman</td>
          <td>Chief Sandwich Eater</td>
          <td>15 min</td>
          <td>$100</td>
        </tr>
        </tbody>
      </table>
    </section>
    <form class="form-inline" action="/admin" method="POST">
      <div class="form-group mb-2">
        <label for="extraTime">Add additional time:</label>
        <input class="form-control" type="text" name="extraTime" placeholder="0" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </main>
  <footer>

  </footer>

  </body>
</html>
