<%- include('partials/_head') %>

  <body>
   <!-- Top nav bar (fixed) -->
   <nav>
    <span class="logo">LOGO</span>
    <span class="nav_welcome">Welcome   Admin</span>
  </nav>
    <!-- New tweet post and tweets container-->
    <main id="container">
      <section id="new-tweet">

        <table>
          <thead>
            <tr><th colspan="4" class="table_title">ORDERS</th></tr>
          <tr>
            <th>ID</th>
            <th>Order Name</th>
            <th>Phone Num</th>
            <th>Total Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="/admin/1">1</a></td>
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>$100</td>
          </tr>
          </tbody>
        </table>
      </section>

    </main>
    <footer>

    </footer>

    </body>
</html>
