<!DOCTYPE html>
<html lang="en">
  <head>
    <title>deLIGHT Home</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- External CSS -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,300;1,600&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->


  </head>

  <body>

    <main style="margin: 1em;">
      <h3>MENU</h3>
      <form class="form-inline" action="/" method="POST">
        <div class="form-group mb-2">
          <label for="orderName">Order Name</label>
          <input class="form-control" type="text" name="orderName" placeholder="0" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Order Now</button>
        </div>
      </form>
    </main>
      <!-- Bootstrap JS -->
  </body>
</html>
