<!DOCTYPE html>
<html lang="en">

<head>
  <title>deLIGHT Home</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <!-- CSS only -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- JavaScript Bundle with Popper -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/slider.js"></script>
  <script type="text/javascript" src="/scripts/quantity.js"></script>
  <script type="text/javascript" src="/scripts/modal.js"></script>
  <script type="text/javascript" src="/scripts/add-order.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="banner">
    <img src="images/banner_flags.png" class="banner-flags" id="flag1">
    <img src="images/midterm_logo.png" class="logo">
    <img src="images/banner_flags.png" class="banner-flags" id="flag2">
  </nav>


  <div class="menu">
    <i class="fas fa-chevron-left"></i>
    <div class="container">
      <div class="carousel">
        <img src="images/1.jpeg" class="item" id="1">
        <img src="images/2.jpeg" class="item" id="2">
        <img src="images/3.jpeg" class="item" id="3">
        <img src="images/4.jpeg" class="item" id="4">
        <div class="restaurant-info">
          <h3 class="about-title">deLIGHTed to have you here!</h3>
          <img src="images/happy-taco.gif" class="taco">
          <h4 class=about-description">deLIGHT Tex Mex was founded in 2021 by 3 hungry students from Lighthouse Labs
            during a midterm. </h4>
        </div>
        <!-- <div id="car1"><img src="images/1.jpeg" class="item" id="1"></div>
        <div id="car2"><img src="images/2.jpeg" class="item" id="2"></div>
        <div id="car3"><img src="images/3.jpeg" class="item" id="3"></div>
        <div id="car4"><img src="images/4.jpeg" class="item" id="4"></div>
        <div id="car5"class="restaurant-info">
          <h3 class="about-title">deLIGHTed to have you here!</h3>
          <img src="images/happy-taco.gif" class="taco">
          <h4 class=about-description">deLIGHT Tex Mex was founded in 2021 by 3 hungry students from Lighthouse Labs during a midterm. </h4>
        </div> -->
      </div>
    </div>
    <i class="fas fa-chevron-right"></i>
  </div>

  <div class="bottom-page">
    <div class="description">
      <p class="food-name"></p>
      <p class="food-desc"></p>
      <p class="food-price"></p>
    </div>

    <div class="shopping-cart">
      <div class="qty-buttons">
        <button class="plus">+</button>
        <label class="qty">1</label>
        <button class="minus">-</button>
      </div>
      <div class="add-to-cart-button">
        <button class="add-to-cart"> add to cart</button>
      </div>
      <!-- <ul class="item-list"></ul> -->
    </div>
  </div>

    <!-- <div class="customer-form">
      <form class="customerForm" method="POST" action="/api/order-info">
        <input type="text" name="customerName" placeholder="name">
        <input type="tel" name="customerNumber" placeholder="phone number">
        <button type="submit" class="order"> order here</button>
      </form>
      <br>
    </div>
  </div> -->
  <div class="status">

  </div>
  <!-- <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
      <h3 class="title mb-6">Message here</h3>
    </div>
  </div> -->

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">


        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      </div>

    </div>
  </div>


  <button id="owner-submit"> submit</button>
  <button class="owner-submit">Shopping Cart</button>

  <div class="modal customer">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
      <h3 class="title mb-6">Order</h3>
      <ul class="item-list"></ul>
      <ul class="order-confirm"></ul>
      <label>total:<label class="total"></label></label>
      <div class="customer-form">
        <form class="customerForm" method="POST" action="/api/order-info">
          <input type="text" class="order-info" name="customerName" placeholder="name">
          <input type="tel" class="order-info" name="customerNumber" placeholder="phone number">
          <div class="submit-order-button">
            <button type="submit" class="order"> Place Order</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
