#container {
  width: 90%;
  margin: 30px auto;
  min-height: 1000px;
}


.btn-primary {
  background-color: #ffa69e;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}


.paint {
  background-color:lightgoldenrodyellow;
}

th {
  background: #ffa69e;
  color: black;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ffa69e;
  text-align: left;
}

th.table_title {
  background-color: unset;
}

footer {
  background-color: #ffa69e;
  color: black;
  height: 120px;
  width: 100%;
  bottom: 0;
}
