// See: https://sass-lang.com/
$font-reg: "Poppins", sans-serif;
$font-shadow: "Londrina Shadow", cursive;
$font-fat: "Londrina Solid", cursive;
$teal: rgb(48, 217, 200);
$yellow: #fdf08b;
$green: rgb(143, 202, 74);
$white: rgb(255, 255, 255);
$pink: #e97676;
$padding1: 1em;
$padding5: 5em;
$paddinghalf: 0.5em;
$margin1: 1em;
$marginhalf: 0.5em;

* {
  font-family: $font-reg;
}

#container {
  width: 90%;
  margin: 30px auto;
  min-height: 1000px;
}

.btn-primary {
  background-color: black;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-family: $font-fat;
  color: white;
  font-size: 1.5em;
}

.btn-primary:hover {
  box-shadow: 5px 5px rgb(91, 134, 42);
  background-color: $green;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  border: 1px solid black;
}

.paint {
  background-color: hsl(46, 85%, 74%);
}

th {
  background: #ffa69e;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 0.5em;
  padding-left: 2em;
}

td {
  padding: 0.75em 2em;
  border-width: 0.1px 0;
  border-color: #000;
  border-style: solid;
}

th.table_title {
  background-color: black;
  font-family: $font-shadow;
  font-size: 2em;
  color: white;
  padding-left: 25px;

}

tr:hover td {
  background:rgb(192, 223, 220)
}
