/* Top navigation formatting */
// See: https://sass-lang.com/
$font-reg: "Poppins", sans-serif;
$font-shadow: "Londrina Shadow", cursive;
$font-fat: "Londrina Solid", cursive;
$teal: rgb(48, 217, 200);
$yellow: #fdf08b;
$green: rgb(143, 202, 74);
$white: rgb(255, 255, 255);
$pink: #e97676;
$padding1: 1em;
$padding5: 5em;
$paddinghalf: 0.5em;
$margin1: 1em;
$marginhalf: 0.5em;

* {
  font-family: $font-reg;
}

nav {
  background-color: $pink;
  color: black;
  height: 120px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

span .logo {
  width: 100px;
}

.logo {
  align-self: center;
  margin-left: 5px;
  width: 30%;
  height: auto;
}

.nav_welcome {
  align-self: center;
  font-size: 1.1em;
  margin-right: 1em;
  font-family: $font-reg;
  justify-content: center;
}

.date_time {
  align-self: center;
  font-size: 1.25em;
  font-family: $font-reg;
  font-weight: 600;
  color: black;
  margin-right: 7em;
}
