// See: https://sass-lang.com/
$font-reg: "Poppins", sans-serif;
$font-shadow: "Londrina Shadow", cursive;
$font-fat: "Londrina Solid", cursive;
$teal: rgb(48, 217, 200);
$yellow: #fdf08b;
$green: rgb(143, 202, 74);
$white: rgb(255, 255, 255);
$pink: #e97676;
$padding1: 1em;
$margin1: 1em;
$margin95: 0.95em;

* {
  display: flex;
  box-sizing: border-box;
  font-family: $font-reg;
  // width: 100%;
}

body {
  background-color: $pink;
  width: 100%;
  flex-direction: column;

  h1 {
    color: #244751;
  }
}

.banner {
  display: flex;
  height: 10em;
  background: $pink;
  justify-content: center;
  // margin: $margin1;
  overflow: hidden;
}

.logo,
.banner-flags {
  background: $pink;
  height: 80%;
}

.logo {
  height: 85%;
}

@media only screen and (max-width: 1024px) {
  * {
    background: $yellow;
  }

  html,
  body,
  .bottom-page {
    flex-direction: column;
    width: 100%;
  }
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-width: 420px;
}

.container {
  min-width: 420px;
  height: 360px;
  margin: 1em auto;
  overflow: hidden;
}

.btn-primary {
  background-color: #ffa69e;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.carousel {
  display: flex;
  position: relative;
  width: 420px;
}

i {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  color: black;
}

.item {
  opacity: 0.6;
}

.restaurant-info {
  margin: $margin1;
}

img.active {
  border: 1px solid black;
}

.active {
  opacity: 1;
  visibility: visible;
}

p {
  visibility: hidden;
}

.fas {
  font-size: 5em;
}

.fas:hover {
  color: $teal;
}

// .arrows {
//   display: flex;
//   justify-content: space-between;
//   // 551/2 = 275 - half the height of the menu div
//   position: relative;
//   top: -275px;
// }

.bottom-page,
.description,
.shopping-cart,
.customer-form {
  display: flex;
  // justify-content: space-around;
  margin: $margin1;
}

.restaurant-info {
  background: $yellow;
  width: 640px;
  height: 427px;
  display: flex;
  flex-direction: column;
}

.description {
  flex-direction: column;
}

// .food-name {
//   width: 33%;
// }

// .food-desc {
//   width: 34%;
// }

// .food-price {
//   width: 33%;
// }

img {
  margin: $margin1;
  width: 400px;
}

.fa-minus-circle {
  font-size: 1em;
}
