// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

.main-carousel {
  display: flex;
}

.item {
  opacity: 0.5;
}

.active {
  opacity: 1;
  visibility: visible;
}

p {
  visibility: hidden;
}
